# Gradle files
.gradle
build
.idea

# Lucene index files
lucene

uploads/*
!uploads/.gitkeep

# IntelliJ IDEA filesdo
src/main/resources/application.properties
src/main/resources/application-prod.properties
docker-compose.yml
